# シャープで始めるとコメント行になる
 
# 無視するフォルダリスト
QCAR/
[Oo]bj/
Heapshots/
iOS/
apk/
[Tt]emp/
Build/

# 無視するファイルリスト
*.sln
*.txt
*.csproj
*.unityproj
*.userprefs
 
# 下階層全てのフォルダ内で ".DS_Store" ファイルを無視したい
*/.DS_Store
 
# 下階層全てのフォルダ内で拡張子が .psd のファイルを無視したい
# */*.psd
 
# トップ階層の .exe ファイルのみを無視したい
# ただしサブフォルダ内の .exe ファイルは無視しない
# /*.exe
 
# img フォルダをまるごと無視したい
# だけど .png だけは無視したくない
# img/*.*
# !.png
